body {
    background-color: white;
}

table {
    border: 1px solid lightblue;
    color: blue;
}

tr {
    background-color: white;
    color: blue;
}

td {
    border: 1px solid blue;
    color: blue;
}

th {
    background-color: blue;
    color: white;
}

h1 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

img.icon {
    display: inline;
    height: 20px;
}

